/* Error: Undefined variable.
 *   ,
 * 4 |         border: $custom-control-indicator-border-width solid $custom-control-indicator-border-color;
 *   |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/assets/scss/argon-design-system/custom-forms.scss 4:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502          border: $custom-control-indicator-border-width solid $custom-control-indicator-border-color;\a   \2502                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/assets/scss/argon-design-system/custom-forms.scss 4:17  root stylesheet";
}
